@import "../../../global";

.root_container {
  margin-bottom: 10px;
}

.main_container {
  display: flex;
  max-height: $base-max-height;
  align-items: center;
}

.dropdown_container {
  display: flex;
  background-color: #202125;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border: 1px solid $base-border-color;
  border-radius: 8px;
  gap: 20px;
}

.adjoin_line {
  border: 1px solid $base-border-color;
  width: 10px;
}

.select_container {
  display: flex;
  position: relative;
  align-items: center;
  max-height: 2.8rem;
  border: 1px solid $base-border-color;
  margin: 4px;
  border-radius: $base-border-radius;
  .select {
    appearance: none;
    -webkit-appearance: none;
    padding: 0.5rem 2rem 0.5rem 1rem;
    background-color: $base-background-color;
    color: white;
    border: none;
    border-radius: $base-border-radius;
    font-size: 16px;
  }
  .select_arrow {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
    border: 8px solid transparent;
    border-top: 8px solid $select-arrow-color;
    border-bottom: 0px;
  }

  .invalid {
    border: 1px solid red;
  }
}

.hidden {
  display: none;
}

.valid {
  border-color: #a7f0c3;
}
